<header class="header-normal">
<div class="contain">
  <div class="header__navbar--toggle">
    <a class="nav-toggle" href="#">
      <span class="bar bar_top"></span>
      <span class="bar bar_mid"></span>
      <span class="bar bar_bottom"></span>
    </a>
  </div>

  <div class="header__navbar--logo">
    <a class="logo-link" title="Udacity" href="/">
      <div class="logo-wordmark ng-star-inserted">
        <h1 class="ng-star-inserted">
          <img class="logo-wordmark--img" alt="Udacity United States Of America" src="https://www.udacity.com/assets/iridium/images/core/header/udacity-wordmark-light.svg" >
        </h1>
      </div>
    </a>
    <!-- For resize? excluding for now -->

    <!-- <a _ngcontent-c4="" id="ga-294bb9" irhybridlink="/" title="Udacity" href="/"><div _ngcontent-c4="" class="logo-mark"><svg _ngcontent-c4="" alt="Udacity" fill="#02B3E4" fill-rule="evenodd" id="mark"></path></svg></div></a> -->
  </div>
  <div class="header__navbar--navigation">
    <nav role="navigation">
      <div class="normal ng\-star\-inserted">
        <a class="navLinks" title="Catalog" href="/courses/all"> Catalog </a>
        <a class="navLinks" title="Explore" href="/pathfinder"> Explore </a>
        <a  class="navLinks" title="Nanodegree" href="/nanodegree"> Nanodegree </a>
        <a  class="navLinks" title="For Business" href="/enterprise"> For Business </a>
        <a  class="divider">  </a>

        <a  style="display:inline" class="navLinks" title="Sign In" href="https://auth.udacity.com/sign-in?next=https://classroom.udacity.com/authenticated"> Sign In </a>
        <button class="btn" type="button" name="button">
        <a  style="display:inline" id="getStarted" title="Get Started" href="https://auth.udacity.com/sign-up?next=https://classroom.udacity.com/authenticated"> Get Started </a>
        </button>
      </div>
    </nav>
  </div>

</div>


</header>

<header class="header-white" id="header-white">
<div class="contain-white">
  <div class="header__navbar--toggle-white">
    <a class="nav-toggle-white" href="#">
      <span class="bar-white bar_top"></span>
      <span class="bar-white bar_mid"></span>
      <span class="bar-white bar_bottom"></span>
    </a>
  </div>

  <div class="header__navbar--logo-white">
    <a class="logo-link-white" title="Udacity" href="/">
      <div class="logo-wordmark-white">
        <h1 class="ng-star-inserted">
          <img class="logo-wordmark--img-white" alt="Udacity United States Of America" src="https://www.udacity.com/assets/iridium/images/core/header/udacity-wordmark.svg" >
        </h1>
      </div>
    </a>
    <!-- For resize? excluding for now -->

    <!-- <a _ngcontent-c4="" id="ga-294bb9" irhybridlink="/" title="Udacity" href="/"><div _ngcontent-c4="" class="logo-mark"><svg _ngcontent-c4="" alt="Udacity" fill="#02B3E4" fill-rule="evenodd" id="mark"></path></svg></div></a> -->
  </div>
  <div class="header__navbar--navigation-white">
    <nav role="navigation-white">
      <div class="normal-white">
        <a class="navLinks-white" title="Catalog" href="/courses/all"> Catalog </a>
        <a class="navLinks-white" title="Explore" href="/pathfinder"> Explore </a>
        <a  class="navLinks-white" title="Nanodegree" href="/nanodegree"> Nanodegree </a>
        <a  class="navLinks-white" title="For Business" href="/enterprise"> For Business </a>
        <a  class="divider-white">  </a>

        <a  style="display:inline" class="navLinks" title="Sign In" href="https://auth.udacity.com/sign-in?next=https://classroom.udacity.com/authenticated"> Sign In </a>
        <button class="btn white" type="button" name="button">
        <a  style="display:inline" id="getStarted" title="Get Started" href="https://auth.udacity.com/sign-up?next=https://classroom.udacity.com/authenticated"> Get Started </a>
        </button>
      </div>
    </nav>
  </div>

</div>


</header>
