
.contain  {
  display: flex;
}

.header__navbar--logo {
  flex: 1;
  margin-left: -8%;
}

.header__navbar--navigation {
  flex: 2;
  /* margin-right: 0; */
  margin-top: .8%;
  letter-spacing: 0;
}

.navLinks {
  /* margin-left: 20px; */
  margin-left: 2.5rem;
  color: white;
}

.btn{
  background-color: #02ccba;
  /* margin-left: 2.5rem; */
  border: 2;
  color: white;
  border: .125rem solid transparent;
  margin-left: 2.5rem;
  transition: all .3s ease;
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  width: 7.75rem;
}

.btn:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

a {
  color: white;
  text-decoration: none;
  font-size: .875rem;
}


.divider {
  border-left: 1px solid #fff;
  background: white;
  color: white;
  width: 1px;
  height: 40px;
  margin-left: 20px;
  /* position: absolute; */
  /* right: 250px; */
  /* top: 10px; */
}


.contain-white  {
  display: flex;
}
.header-white {
    background-color: #fff; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -50px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    color: #525c65;
    z-index:1000
  }



.navLinks-white {
  margin-left: 2.5rem;
  color:black;
}

.header__navbar--logo-white {
  flex: 1;
  margin-left: -8%;
}

.header__navbar--navigation-white {
  flex: 2;
  /* margin-right: 0; */
  margin-top: .8%;
  letter-spacing: 0;
}

.divider-white {
  border-left: 1px solid black;
  background: white;
  color: white;
  width: 1px;
  height: 40px;
  margin-left: 20px;
  /* position: absolute; */
  /* right: 250px; */
  /* top: 10px; */
}
/* .button{display:none;letter-spacing:0;font-size:.875rem;text-transform:capitalize;height:2.25rem;font-weight:400;margin-left:2.5rem;line-height:1.9375rem}
.header__navbar--navigation .button:first-child{margin-left:0}
@media screen and (min-width:62rem){.header__navbar--navigation .button{display:block}}
.header__navbar--navigation .button--navigation{padding:0;color:#525c65}
.header__navbar--navigation .button--navigation:hover{color:#474f57}
.header__navbar--navigation .button--primary, .header__navbar--navigation .button--turquoise{width:7.75rem;-webkit-box-shadow:8px 10px 20px 0 rgba(46,61,73,.15);box-shadow:8px 10px 20px 0 rgba(46,61,73,.15);background-color:#02b3e4}
.header__navbar--navigation .button--primary:hover, .header__navbar--navigation .button--turquoise:hover{-webkit-box-shadow:2px 4px 8px 0 rgba(46,61,73,.2);box-shadow:2px 4px 8px 0 rgba(46,61,73,.2);background-color:#02b7e9}
.header__navbar--navigation .button--turquoise{background-color:#02ccba}
.header__navbar--navigation .button--turquoise:hover{background-color:#02d1bf}
.header__navbar--navigation .button--guest, .header__navbar--navigation .button--student{display:none} */

/* .header{max-width:100%;margin-left:auto;margin-right:auto}
.header:after{clear:both;content:"";display:table}
.header.header--clone{width:100%;top:-1000px}
.header.header--clone .header__navbar{height:4.5rem}
.header.header--stick{top:0;background-color:#fff;z-index:8000;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);box-shadow:0 1px 2px rgba(0,0,0,.1)}
.header__navbar{max-width:73.75rem;margin-left:auto;margin-right:auto;height:4.5rem;padding:0 1.5em}
.header__navbar:after{clear:both;content:"";display:table}
@media screen and (min-width:48rem){.header__navbar{height:6rem}}
@media screen and (min-width:73.75rem){.header__navbar{padding:0}}
.header__navbar--toggle{position:relative;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);float:left;display:block;margin-right:1.69491525%;width:15.25423729%}
.header__navbar--toggle:last-child{margin-right:0}
@media screen and (min-width:62rem){.header__navbar--toggle{display:none}}
.header__navbar--logo{position:relative;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);float:left;display:block;margin-right:1.69491525%;width:66.10169492%}
.header__navbar--logo:last-child{margin-right:0}
@media screen and (min-width:62rem){.header__navbar--logo{float:left;display:block;margin-right:1.69491525%;width:23.72881356%}
.header__navbar--logo:last-child{margin-right:0}}
.header__navbar--navigation{position:relative;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);display:none}
@media screen and (min-width:62rem){.header__navbar--navigation{float:left;display:block;margin-right:1.69491525%;width:74.57627119%}
.header__navbar--navigation:last-child{margin-right:0}}
.header__navbar--logo{text-align:center}
@media screen and (min-width:62rem){.header__navbar--logo{text-align:left}}
.header__navbar--logo .logo-wordmark{width:11.25rem;height:1.875rem;display:none}
@media screen and (min-width:62rem){.header__navbar--logo .logo-wordmark{display:block}}
.header__navbar--logo .logo-mark{display:block;margin:0 auto;width:1.875rem;height:1.875rem}
@media screen and (min-width:62rem){.header__navbar--logo .logo-mark{display:none}}
.header__navbar--toggle .nav-toggle{display:block;width:1.25rem;height:1.25rem;cursor:pointer;-webkit-transition:-webkit-transform .25s ease;transition:-webkit-transform .25s ease;transition:transform .25s ease;transition:transform .25s ease,-webkit-transform .25s ease}
.header__navbar--toggle .nav-toggle .bar{display:block;width:100%;height:.1875rem;margin-left:-.5rem;margin-top:.1875rem;background:#02b3e4;-webkit-transition:opacity .25s ease,-webkit-transform .25s ease;transition:opacity .25s ease,-webkit-transform .25s ease;transition:opacity .25s ease,transform .25s ease;transition:opacity .25s ease,transform .25s ease,-webkit-transform .25s ease;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.header__navbar--navigation nav{float:right}
.header__navbar--navigation a, .header__navbar--navigation div{float:left}
.header__navbar--navigation
.header__navbar--navigation .divider{cursor:default}
.header__navbar--navigation .divider:before{content:"";border-left:1px solid rgba(82,92,101,.4);width:0;height:12px}

.header__sidenav{background-color:#2e3d49}
.header__sidenav--logo{height:4.5rem;display:block;background-color:#1c262f}
.header__sidenav--logo:after{clear:both;content:"";display:table}
.header__sidenav--logo .logo-link{display:block;width:100%;height:100%}
.header__sidenav--logo .logo-link   .logo-wordmark{position:relative;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);padding-left:1.5em;width:11.25rem;height:1.875rem}
.header__sidenav--logo   .logo-link   #wordmark{fill:#fff}
.header__sidenav--navigation{display:block}
.header__sidenav--navigation:after{clear:both;content:"";display:table}
.header__sidenav--navigation   li{height:4.5rem}
.header__sidenav--navigation   a{padding-top:1.5rem;padding-bottom:1.5rem;color:#fff;display:block;padding-left:1.5em}@media screen and (min-width:48rem){.header__sidenav--navigation   a{padding-top:1.5rem;padding-bottom:1.5rem}}
.header__sidenav--navigation   a:hover{color:#ccc}
.header__sidenav--navigation   .guest, .header__sidenav--navigation   .student{display:none}
.header__sidenav--navigation   .guest   a, .header__sidenav--navigation   .student   a{color:#02b3e4}
.header__sidenav--navigation   .guest   a:hover, .header__sidenav--navigation   .student   a:hover{color:#01647f}

.header{

}

a.nav-toggle{
display: block;
width: 1.25rem;
height: 1.25rem;
cursor: pointer;
-webkit-transition: -webkit-transform .25s ease;
transition: -webkit-transform .25s ease;
transition: transform .25s ease;
transition: transform .25s ease,-webkit-transform .25s ease;

-webkit-box-sizing: inherit;
box-sizing: inherit;

background-color: transparent;
-webkit-text-decoration-skip: objects 2 ;
border-bottom: none;
text-decoration: none;
color: #525c65;
-webkit-transition: color .3s ease;
transition: color .3s ease;
}


.page-homepage .nav-toggle .bar {
background: #fff;
}

.header__navbar--toggle, .nav-toggle, .bar {
display: block;
width: 100%;
height: .1875rem;
margin-left: -.5rem;
margin-top: .1875rem;
background: #02b3e4;
-webkit-transition: opacity .25s ease,-webkit-transform .25s ease;
transition: opacity .25s ease,-webkit-transform .25s ease;
transition: opacity .25s ease,transform .25s ease;
transition: opacity .25s ease,transform .25s ease,-webkit-transform .25s ease;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.bar {
position: relative;
}

@media screen and (min-width: 73.75rem)
.header__navbar, header {
padding: 0;
}

@media screen and (min-width: 48rem){
.header__navbar, header{
height: 6rem; }
}

@media screen and (min-width: 48rem)
h1 {
font-size: 2.5rem;
line-height: 3rem;
}
.header:after{
clear: both;
content: "";
display: table;
}

header {
max-width: 73.75rem;
margin-left: auto;
margin-right: auto;
height: 4.5rem;
padding: 0 1.5em;
} */
