<p>
  header works!
</p>
<div class="header__navbar--toggle">
  <a class="nav-toggle" href="#">
    <span class="bar bar_top"></span>
    <span class="bar bar_mid"></span>
    <span class="bar bar_bottom"></span>
  </a>
</div>
<div class="header__navbar--logo">
  <a class="logo-link" title="Udacity" href="/">
    <div class="logo-wordmark ng-star-inserted">
      <h1 class="ng-star-inserted">
        <img class="logo-wordmark--img" alt="Udacity United States Of America" src="https://www.udacity.com/assets/iridium/images/core/header/udacity-wordmark-light.svg" >
       </h1>
    </div>
  </a>
</div>
<div class="header__navbar--navigation">

</div>
