<header class="header-normal">
  <div class="contain">
    <div class="header__navbar--toggle">

    </div>

    <div class="header__navbar--logo">
      <a class="logo-link" title="Udacity" href="/">
        <div class="logo-wordmark ng-star-inserted">
          <h1 class="ng-star-inserted">
            <img class="logo-wordmark--img" alt="Udacity United States Of America" src="https://www.udacity.com/assets/iridium/images/core/header/udacity-wordmark-light.svg" >
          </h1>
        </div>
      </a>
    </div>
    <div class="header__navbar--navigation">
      <nav role="navigation">
        <div class="normal ng\-star\-inserted">
          <a class="navLinks" title="Catalog" href=""> Catalog </a>
          <a class="navLinks" title="Explore" href=""> Explore </a>
          <a  class="navLinks" title="Nanodegree" href=""> Nanodegree </a>
          <a  class="navLinks" title="For Business" href=""> For Business </a>
          <a  class="divider">  </a>

          <a  style="display:inline" class="navLinks" title="Sign In" href=""> Sign In </a>
          <button class="btn btn-gStarted" type="button" name="button">
            <a  style="display:inline" id="getStarted" title="Get Started" href=""> Get Started </a>
          </button>
          <button class="btn btn-danger" type="button" name="button">
            <a class="admin" id="admin" routerLink="/admin">Admin</a>
          </button>

        </div>
      </nav>
    </div>
  </div>
</header>

<!-- =================White header dropdown================= -->

<header class="header-white" id="header-white">
  <div class="contain-white">
    <div class="header__navbar--toggle-white">
      <a class="nav-toggle-white" href="#">
        <span class="bar-white bar_top"></span>
        <span class="bar-white bar_mid"></span>
        <span class="bar-white bar_bottom"></span>
      </a>
    </div>

    <div class="header__navbar--logo-white">
      <a class="logo-link-white" title="Udacity" href="/">
        <div class="logo-wordmark-white">
          <h1 class="ng-star-inserted">
            <img class="logo-wordmark--img-white" alt="Udacity United States Of America" src="https://www.udacity.com/assets/iridium/images/core/header/udacity-wordmark.svg" >
          </h1>
        </div>
      </a>

    </div>
    <div class="header__navbar--navigation-white">
      <nav role="navigation-white">
        <div class="normal-white">
          <a class="navLinks-white" title="Catalog" href=""> Catalog </a>
          <a class="navLinks-white" title="Explore" href=""> Explore </a>
          <a  class="navLinks-white" title="Nanodegree" href=""> Nanodegree </a>
          <a  class="navLinks-white" title="For Business" href=""> For Business </a>
          <a  class="divider-white">  </a>

          <a  style="display:inline" class="navLinks-white" title="Sign In" href=""> Sign In </a>
          <button class="btn btnWhite" type="button" name="button">
            <a  style="display:inline" id="getStartedWhite" title="Get Started" href=""> Get Started </a>
          </button>
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- ==================== Small Header ===================== -->

<header class="header-small">

</header>
