
.contain  {
  display: flex;
}

.header__navbar--logo {
  flex: 1;
  margin-left: -8%;
}

.header__navbar--navigation {
  flex: 2;
  /* margin-right: 0; */
  margin-top: .8%;
  letter-spacing: 0;
}

.navLinks {
  /* margin-left: 20px; */
  margin-left: 2.5rem;
  color: white;
}

.btn{
  background-color: #02ccba;
  /* margin-left: 2.5rem; */
  border: 2;
  color: white;
  border: .125rem solid transparent;
  margin-left: 2.5rem;
  transition: all .3s ease;
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  width: 7.75rem;
}

.btn:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

a {
  color: white;
  text-decoration: none;
  font-size: .875rem;
}

.divider {
  border-left: 1px solid #fff;
  background: white;
  color: white;
  width: 1px;
  height: 40px;
  margin-left: 20px;

}


.contain-white  {
  display: flex;
}
.header-white {
  background-color: #fff; /* White background color */
  position: fixed; /* Make it stick/fixed */
  top: -60px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  color: #525c65;
  z-index:1000
}



.navLinks-white {
  margin-left: 2.5rem;
  color:black;
}

.header__navbar--logo-white {
  flex: 1;
  margin-left: -8%;
}

.header__navbar--navigation-white {
  flex: 2;
  margin-top: .8%;
  letter-spacing: 0;
}

.divider-white {
  border-left: 1px solid black;
  background: white;
  color: white;
  width: 1px;
  height: 40px;
  margin-left: 20px;
}
