ul li {
  list-style-type: none;
}

li {
  text-align: left;
}

ul {
  top: 0;
  max-height: none;
}

.footer__nav {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.footer__nav__col {
  float: left; */
  position: relative;
}

.fineprint {
 display:flex;
 flex-direction: row;
}


.footer {
  background-image: linear-gradient(to bottom right,#f7f7f7,#eafbff);
}

.footer__secondary {
  display: flex;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: .875rem;
    font-weight: 400;
}

.mb-0 {
    margin-bottom: 0!important;
}

p {
    color: #525c65;
    line-height: 1.5rem;
}

p.legible {
    max-width: 48.75rem!important;
}

.center, .center-block {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center!important;
}

.footer__primary {
    min-height: 24rem;
    max-width: 73.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.25rem;
}

.footer__logo {
    height: 3.75rem;
}

a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.footer__logo__mark {
    display: block;
    width: 1.9375rem;
    height: 1.9375rem;
}
