<p>
  footer works!
</p>
<div class="">
  <section>
    <a href="#">
      <div class="">

        <img src="https://storage.googleapis.com/theonemaxim.com/github-site-rebuild-images/udacity-logo-small-transition.png">
      </div>
    </a>
  </section>

  <nav>
    <ul class="footer__nav">
      <li class="footer__nav__col">
        <h6></h6>
        <li></li>
      </li>
      <li class="footer__nav__col">
        <h6></h6>
        <li></li>
      </li>
      <li class="footer__nav__col">
        <h6></h6>
        <li></li>
      </li>
      <li class="footer__nav__col">
        <h6></h6>
        <li></li>
      </li>
      <li class="footer__nav__col">
        <h6></h6>
        <li></li>
      </li>
    </ul>
  </nav>
</div>
