<footer class="footer">
  <div class="contain">
    <section>
      <a href="#">
        <div class="">

        <!-- <img src="https://storage.googleapis.com/theonemaxim.com/github-site-rebuild-images/udacity-logo-small-transition.png"> -->
      </div>
    </a>
  </section>

  <nav class="footer__primary" role="navigation">
    <ul class="ul-footer__nav">
      <li class="footer__nav__col" id="featured-programs">
        <h6 class="col-title">FEATURED PROGRAMS</h6>
        <ul class="ul-columns">
          <li><a class="col-list-items" href="#">Sensor Fusion Engineer</a></li>
          <li><a class="col-list-items" href="#">Data Visualization</a></li>
          <li><a class="col-list-items" href="#">Cloud Developer</a></li>
          <li><a class="col-list-items" href="#">Clod Dev Ops Engineer</a></li>
          <li><a class="col-list-items" href="#">C++ Nanodegree Program</a></li>
          <li><a class="col-list-items" href="#">Data Structures and Algorithms</a></li>
          <li><a class="col-list-items" href="#">Marketing Analytics</a></li>
          <li><a class="col-list-items" href="#">Data Engineer</a></li>
          <li><a class="col-list-items" href="#">Android Basics</a></li>
          <li><a class="col-list-items" href="#">Android Developer</a></li>
          <li><a class="col-list-items" href="#">Become an iOS Developer</a></li>
          <li><a class="col-list-items" href="#">Business Analytics</a></li>
          <li><a class="col-list-items" href="#">Data Analytics</a></li>
          <li><a class="col-list-items" href="#">Data Analyst</a></li>
          <li><a class="col-list-items" href="#">Front-End Web Developer</a></li>
          <li><a class="col-list-items" href="#">Full Stack Web Developer</a></li>
          <li><a class="col-list-items" href="#">Intro to Programming</a></li>
          <li><a class="col-list-items" href="#">Machine Learning Engineer</a></li>
          <li><a class="col-list-items" href="#">Predictive Analytics for Business</a></li>
          <li><a class="col-list-items" href="#">Progamming for Data Science</a></li>
          <li><a class="col-list-items" href="#">React</a></li>
        </ul>
      </li>
      <li class="footer__nav__col" id="only-udacity">
        <h6 class="col-title">ONLY AT UDACITY</h6>
        <ul class="ul-columns">
          <li><a class="col-list-items" href="#">Artificial Intelligence</a></li>
          <li><a class="col-list-items" href="#">Deep Learning</a></li>
          <li><a class="col-list-items" href="#">Digital Marketing</a></li>
          <li><a class="col-list-items" href="#">Flying Car and Autonomous Flight Engineer Nanodegree</a></li>
          <li><a class="col-list-items" href="#">Intro to Self-Driving Cars Nanodegree</a></li>
          <li><a class="col-list-items" href="#">Machine Learning Engineer</a></li>
          <li><a class="col-list-items" href="#">Robotics Software Engineer Nanodegree</a></li>
          <li><a class="col-list-items" href="#">Self-Driving Car Engineer</a></li>
        </ul>
      </li>
      <li class="footer__nav__col" id="resources">
        <h6 class="col-title">RESOURCES</h6>
        <ul class="ul-columns">
          <li><a class="col-list-items" href="#">Catalog</a></li>
          <li><a class="col-list-items" href="#">Career Resource Center</a></li>
          <li><a class="col-list-items" href="#">Career Services</a></li>
          <li><a class="col-list-items" href="#">Hire Talent</a></li>
          <li><a class="col-list-items" href="#">Get Hired</a></li>
          <li><a class="col-list-items" href="#">Student Success</a></li>
          <li><a class="col-list-items" href="#">Udacity Connect</a></li>
          <li><a class="col-list-items" href="#">Udacity Talks</a></li>
          <li><a class="col-list-items" href="#">Scholarships</a></li>
          <li><a class="col-list-items" href="#">What is AI?</a></li>
        </ul>
        <h6 class="col-title">PROGRAMS</h6>
        <ul class="ul-columns">
          <li><a class="col-list-items" href="#">Veterans</a></li>
          <li><a class="col-list-items" href="#">Georgia Tech</a></li>
        </ul>
      </li>
      <li class="footer__nav__col" id="company">
        <h6 class="col-title">COMPANY</h6>
        <ul class="ul-columns">
          <li><a class="col-list-items" href="#">About</a></li>
          <li><a class="col-list-items" href="#">Blog</a></li>
          <li><a class="col-list-items" href="#">In the News</a></li>
          <li><a class="col-list-items" href="#">Jobs</a></li>
          <li><a class="col-list-items" href="#">Udacity Intersect</a></li>
          <li><a class="col-list-items" href="#">Udacity Store</a></li>
        </ul>

        <h6 class="col-title">Enterprise</h6>
        <ul class="ul-columns">
          <li><a class="col-list-items" href="#">Udacity for Enterprise</a></li>
          <li><a class="col-list-items" href="#">Hire Talent</a></li>
        </ul>
      </li>
      <li class="footer__nav__col" id="support">
        <h6 class="col-title">SUPPORT</h6>
        <ul class="ul-columns">
          <li><a class="col-list-items" href="#">Contact Us</a></li>
          <li><a class="col-list-items" href="#">Help and FAQ</a></li>
          <li><a class="col-list-items" href="#">Service Status</a></li>
          <li><a class="col-list-items" href="#">Tech Requirements</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <hr>

  <section class="footer__secondary">
    <div class="footer__col">
      <ul class="fineprint">
        <li><p class="small mb-0">© 2011–2018 Udacity, Inc.</li>
          <li class="fineprint__link hidden-sm-down legal">
            <a href="/legal">Legal & Privacy</a>
          </li>
          <li class="fineprint__link hidden-sm-down">
            <a href="https://www.udacity.com/regulatory-information">Regulatory Information</a>
          </li>
          <li class="fineprint__link hidden-sm-down">
            <a href="https://www.udacity.com/sitemap">Site Map</a>
          </li>
        </ul>
      </div>

      <app-footer-social id="social_icons"></app-footer-social>

      <div class="footer__col">
        <app-nav-countries>
          <div class="locales">
            <div class="container" id="footer-geo-toggle-placeholder">
              <div class="select open">
                <input _ngcontent-c8="" class="selected-value" id="footer-geo-toggle" type="hidden" value="#">
                <a class="selected">
                  <img src="https://www.udacity.com/assets/iridium/images/shared/flags/icon-flag-us.svg" alt="selected-image">
                  <label class="selected-text">United States</label>
                </a>
                <span class="pointer pointer-down"></span>
              </div>
            </div>
          </div>
        </app-nav-countries>
      </div>
    </section>
    <section class="text-center">
      <p class="micro mb-half">"Nanodegree" is a registered trademark of Udacity. © 2011–2018 Udacity, Inc.</p>
      <p class="micro legible mb-0">Udacity is not an accredited university and we don't confer traditional degrees. Udacity Nanodegree programs represent collaborations with our industry partners who help us develop our content and who hire many of our program graduates.</p>
    </section >
  </div>
</footer>
