<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <h4>"I love the content and teaching approach, and wouldn't be where I am now without Udacity."</h4>
      <h6> — Sam, Graduate </h6>
    </div>
    <div class="carousel-item">
      <h4>"My Nanodegree program increased my discipline and self–esteem, and I'm not afraid to change career fields anymore."</h4>
      <h6> — Anna, Graduate </h6>

    </div>
    <div class="carousel-item">
      <h4>"Udacity gave me the tools I needed to change not only my career, but my life."</h4>
      <h6>— JAKE, GRADUATE</h6>
    </div>
    <div class="carousel-item">
      <h4>"I put my soul into the program and scored an awesome job that allows me to grow as an analyst!"</h4>
      <h6> — Jennifer, Graduate </h6>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
