<div class="marketing-card">
 <div class="">
   <img class="icon" src="https://www.udacity.com/assets/iridium/images/shared/icons/icon_magnify_blue.svg" alt="">
 </div>
 <div class="">
   <h3 class="blue light">Imagine your future!</h3>
   <p>What do you want to learn today? What's your dream job? Discover the program that's right for you!</p>
 </div>
 <div class="">

   <a class=""href="https://www.udacity.com/pathfinder"><button class="btn" type="button" name="button">Get Started</button></a>
 </div>
</div>
