<div class="card-deck">
  <div class="card card--nanodegree">
    <a href="#" title="Artificial Intelligence">
      <div class="card-img-top card--nanodegree__header"  style="background-image: url(https://www.udacity.com/assets/iridium/images/shared/nd-cards/nd898.jpg);">
        <div  class="card--nanodegree__header--overlay" id="overlay1">
          <span class="pill pill--white ng-tns-c36-5 ng-star-inserted" style="">New!</span>
        </div>
      </div>
      <div class="card--nanodegree__title">
        <h4>Artificial Intelligence</h4>
      </div>
      <div class="card--nanodegree__affiliates">
        <ul>
        </ul>
      </div>
    </a>
  </div>
  <div class="card card--nanodegree">
    <a href="#" title="Artificial Intelligence">
      <div class="card-img-top card--nanodegree__header"  style="background-image: url(https://www.udacity.com/assets/iridium/images/shared/nd-cards/nd892.jpg);">
        <div  class="card--nanodegree__header--overlay" id="overlay2">
          <span class="pill pill--white ng-tns-c36-5 ng-star-inserted" style="">New!</span>
        </div>
      </div>
      <div class="card--nanodegree__title">
        <h4>Natural Language Processing</h4>
      </div>
      <div class="card--nanodegree__affiliates">
      </div>
    </a>
  </div>
  <div class="card card--nanodegree">
    <a href="#" title="Artificial Intelligence">
      <div class="card-img-top card--nanodegree__header"  style="background-image: url(https://www.udacity.com/assets/iridium/images/shared/nd-cards/nd891.jpg);">
        <div  class="card--nanodegree__header--overlay" id="overlay3">
          <span class="pill pill--white ng-tns-c36-5 ng-star-inserted" style="">New!</span>
        </div>
      </div>
      <div class="card--nanodegree__title">
        <h4>Computer Vision</h4>
      </div>
      <div class="card--nanodegree__affiliates">
        <ul>

        </ul>
      </div>
    </a>
  </div>

  <div class="card card--nanodegree">
    <a href="#" title="Artificial Intelligence">
      <div class="card-img-top card--nanodegree__header"  style="background-image: url(https://www.udacity.com/assets/iridium/images/shared/nd-cards/nd089.jpg);">
        <div  class="card--nanodegree__header--overlay" id="overlay4">
          <span class="pill pill--white ng-tns-c36-5 ng-star-inserted" style="">New!</span>
        </div>
      </div>
      <div class="card--nanodegree__title">
        <h4>AI Programming With Python</h4>
      </div>
      <div class="card--nanodegree__affiliates">
        <ul>

        </ul>
      </div>
    </a>
  </div>

  <div class="card card--nanodegree">
    <a href="#" title="Artificial Intelligence">
      <div class="card-img-top card--nanodegree__header"  style="background-image: url(https://www.udacity.com/assets/iridium/images/shared/nd-cards/nd787.jpg);">
        <div  class="card--nanodegree__header--overlay" id="overlay5">
          <span class="pill pill--white ng-tns-c36-5 ng-star-inserted" style="">New!</span>
        </div>
      </div>
      <div class="card--nanodegree__title">
        <h4>Flying Cars & Autonomous Flight</h4>
      </div>
      <div class="card--nanodegree__affiliates">
        <ul>

        </ul>
      </div>
    </a>
  </div>

  <div class="card card--nanodegree">
    <a href="#" title="Artificial Intelligence">
      <div class="card-img-top card--nanodegree__header"  style="background-image: url(https://www.udacity.com/assets/iridium/images/shared/nd-cards/nd201.jpg);">
        <div  class="card--nanodegree__header--overlay" id="overlay6">
          <span class="pill pill--white ng-tns-c36-5 ng-star-inserted" style="">New!</span>
        </div>
      </div>
      <div class="card--nanodegree__title">
        <h4>Design Sprint Foundations</h4>
      </div>
      <div class="card--nanodegree__affiliates">
        <ul>

        </ul>
      </div>
    </a>
  </div>
</div>
