<div class="card-deck">
  <div class="card card--nanodegree" *ngFor="let form of forms | async">
    <a href="#" title="Artificial Intelligence">
      <div class="card-img-top card--nanodegree__header" class="e2e-dangerous-url" style="background-image: url({{form.bgImgUrl}});">
        <div  class="card--nanodegree__header--overlay" id="{{form.divId}}">
          <span class="pill pill--white ng-tns-c36-5 ng-star-inserted" style="">{{form.pillTxt}}</span>
        </div>
      </div>
      <div class="card--nanodegree__title">
        <h4>{{form.h4text}}</h4>
      </div>
      <div class="card--nanodegree__affiliates">
        <ul>
        </ul>
      </div>
    </a>
  </div>
</div>
