<div class="contain-main">
  <div class="hero__video">
    <div class="video">
      <div class="contain" style="background-image: url('https://d20vrrgs8k4bvw.cloudfront.net/images/homepage/hero-bg-img-nd113.jpg');">
        <a class="video--overlay" href="/course/self-driving-car-engineer-nanodegree--nd013">
          <span class="video-content">
            <h6 class="">NANODEGREE PROGRAM</h6>
            <h2 class="mb-half ">Complete your journey to a Self-Driving Car career</h2>
            <p class="summary">
              <span class="">In this advanced program, you’ll master the job-ready skills needed to launch your career.
              </span>
            </p>
            <button class="btn button--white lg center">Start Learning Now</button>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="featured-card flying">
      <div class="card">
        <a class="card--homepage" taget="_self" href="/course/flying-car-nanodegree">
          <div class="img-container">
            <img class="card--image" src="https://images.ctfassets.net/2y9b3o528xhq/49CGC16CukoUoKqQsO4uwM/7fecec2e2d5dd6b49c22b44ca621d5bc/module-flying-car_2x.png" alt="Flying Car Promo">
          </div>

          <div class="card__content">
            <h6 class="blue" id="h6content">Only at Udacity</h6>
            <p class="card__content--h5">Become a Flying Car Engineer</p>
            <p class="x-small mb-0">Enroll Today!</p>
          </div>
        </a>
      </div>
    </div>

    <div class="featured-card deep">
      <div class="card">
        <a class="card--homepage"  href="/course/deep-learning-nanodegree--nd101">
          <img class="card--image" src="https://images.ctfassets.net/2y9b3o528xhq/4hSpwePiBqYWKUamEscmCs/c91bd19b66b08ef29384ed19e798e070/deep-learning_promo_2x.jpg" alt="deep learning side promo">
          <div class="card__content">
            <h6 class="purple" id="h6content">New!</h6>
            <p class="card__content--h5">Deep Learning</p>
            <p class="x-small mb-0">Learn Alongside Experts</p>
          </div>
        </a>
      </div>
    </div>

    <div class="featured-card">
      <div class="card">
        <a class="card--homepage" taget="_self" href="/full-stack-web-developer-nanodegree--nd004">
          <img class="card--image" src="https://images.ctfassets.net/2y9b3o528xhq/6GCKXI4uGW6A0yQqAOsGqi/80591a64266ddafd6a16e78f3e0fd307/module-nd-intro-to-programming_402x.png" alt="Flying Car Promo">
          <div class="card__content">
            <h6 class="orange" id="h6content">ENROLL NOW!</h6>
            <p class="card__content--h5">Become a Full Stack Developer</p>
            <p class="x-small mb-0">Free Preview</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
