<p>
  degree-promo works!
</p>

<div class="hero__video">
  <div class="video">
    <div class="contain" style="background-image: url('https://d20vrrgs8k4bvw.cloudfront.net/images/homepage/hero-bg-img-nd113.jpg');">
      <a class="video--overlay ng-star-inserted" href="/course/self-driving-car-engineer-nanodegree--nd013">
        <span class="video-content">
          <h6 class="ng-star-inserted">NANODEGREE PROGRAM</h6>
          <h2 class="mb-half ng-star-inserted">Complete your journey to a Self-Driving Car career</h2>
          <p class="summary ng-star-inserted">
            <span class="ng-star-inserted">In this advanced program, you’ll master the job-ready skills needed to launch your career.
            </span>
          </p>
          <button class="button--white lg center">Start Learning Now</button>
        </span>
      </a>
    </div>
  </div>
</div>
