<div class="contain">
  <div class="text-center">
    <h6>In collaboration with</h6>
  </div>
  <div class="partners__featured">
    <div class="partners__featured--image">
      <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/partners-list/logo-gray-google.svg" >
    </div>
    <div class="partners__featured--image">
      <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/partners-list/logo-gray-amazon.svg" >
    </div>
    <div class="partners__featured--image">
      <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/partners-list/logo-gray-ibm.svg" >
    </div>
    <div class="partners__featured--image">
      <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/partners-list/logo-gray-nvidia.svg" >
    </div>
    <div class="partners__featured--image">
      <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/partners-list/logo-gray-mercedesbenz.svg" >
    </div>
    <div class="partners__featured--image">
      <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/partners-list/logo-gray-didi.svg" >
    </div>
    <div class="partners__featured--image">
      <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/partners-list/logo-gray-att.svg" >
    </div>
  </div>
</div>
