<div class="featured-card">
    <div class="card">
      <a class="card card--homepage" taget="_self" href="/course/flying-car-nanodegree">
        <img class="card--image" src="https://images.ctfassets.net/2y9b3o528xhq/49CGC16CukoUoKqQsO4uwM/7fecec2e2d5dd6b49c22b44ca621d5bc/module-flying-car_2x.png" alt="Flying Car Promo">
        <div class="card__content">
          <h6 class="blue">Only at Udacity</h6>
          <p class="card__content--h5 slate strong">Become a Flying Car Engineer</p>
          <p class="x-small mb-0">Enroll Today!</p>
        </div>
      </a>
    </div>
</div>

<div class="featured-card">
    <div class="card">
      <a class="card card--homepage" taget="_self" href="/course/flying-car-nanodegree">
        <img class="card--image" src="https://images.ctfassets.net/2y9b3o528xhq/49CGC16CukoUoKqQsO4uwM/7fecec2e2d5dd6b49c22b44ca621d5bc/module-flying-car_2x.png" alt="Flying Car Promo">
        <div class="card__content">
          <h6 class="blue">Only at Udacity</h6>
          <p class="card__content--h5 slate strong">Become a Flying Car Engineer</p>
          <p class="x-small mb-0">Enroll Today!</p>
        </div>
      </a>
    </div>
</div>

<div class="featured-card">
    <div class="card">
      <a class="card card--homepage" taget="_self" href="/course/flying-car-nanodegree">
        <img class="card--image" src="https://images.ctfassets.net/2y9b3o528xhq/49CGC16CukoUoKqQsO4uwM/7fecec2e2d5dd6b49c22b44ca621d5bc/module-flying-car_2x.png" alt="Flying Car Promo">
        <div class="card__content">
          <h6 class="blue">Only at Udacity</h6>
          <p class="card__content--h5 slate strong">Become a Flying Car Engineer</p>
          <p class="x-small mb-0">Enroll Today!</p>
        </div>
      </a>
    </div>
</div>



https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004


<!--
<div class="card">

</div>

<div class="card">

</div> -->
