.contain{
  display: flex;
  flex-direction: column;
}

.card--homepage{
  display: flex;
  flex-direction: row;

}

div.img-container{
  flex:1;
  /* float: left; */
  height: 9rem;

}
div.card__content {
  flex:2;
  /* float: right; */
}
.card:last-child {
  margin-bottom: 0;
}



.card {
  margin-top: 0;
  /* margin-bottom: 1.5rem; */
  text-align: left;
  position: relative;
  background: #fff;
  /* -webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2); */
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  border-radius: .375rem;
  /* -webkit-transition: all .3s ease; */
  transition: all .3s ease;
}
