<h2>Marketplace</h2>

<p>All our fine products will be listed here shortly!</p>

<div *ngFor="let form of forms | async"  class="panel panel-default">
  <div class="panel-body">
    <!-- <h3 (click)="goToDetailPage(form)"><em>{{form.title}}</em> By: {{form.artist}}</h3> -->
    <h3><em>{{form.Oudacity}}</em></h3>
    <!-- <h1>{{form.$key}}</h1> -->
    <!-- <div *ngIf="currentRoute === '/admin'"> -->
      <!-- {{form.description}} -->
      <hr>
      <!-- <app-edit-form [selectedForm]="form"></app-edit-form> -->
    <!-- </div> -->
  </div>
</div>
