<p>
  udacity-advantage-selling-points works!
</p>
<div class="selling-point">
  <section class="section1">
    <div class="features-column1">
      <div class="icon">
        <img src="https://www.udacity.com/assets/iridium/images/shared/icons/icon-bulb.svg" alt="">
        <h3 id="1">
          <span class="">Master the most </span>
          <span class="">competitive skills </span>
        </h3>
        <p>Our Nanodegree programs are built with the world's most forward–thinking companies–Google, Facebook, AT&T, IBM, GitHub, and more. Our expert project reviewers, mentors and coaches ensure that you're job-ready.</p>
      </div>
    </div>
    <div class="features-image1">
      <img src="https://www.udacity.com/assets/iridium/images/shared/features/thumb-competitive-skills-fg.jpg" alt="">
    </div>
  </section>

  <section class="section2">
    <div class="features-column2">
      <div class="icon">
        <img src="https://www.udacity.com/assets/iridium/images/shared/icons/icon-badge.svg" alt="">
        <h3 id="2">
          <span class="">Get hired by </span>
          <span class="">world-changing companies </span>
        </h3>
        <p>Hiring partnerships with leaders like IBM, Mercedes–Benz, Didi Chuxing, and more open amazing career opportunities.</p>
      </div>
    </div>
    <div class="">
      <img src="https://www.udacity.com/assets/iridium/images/shared/features/thumb-get-hired-fg.jpg" alt="">
    </div>
  <!-- </div> -->
</section>

<section class="section3">
  <div class="features-column3">
    <div class="icon">
      <img src="https://www.udacity.com/assets/iridium/images/shared/icons/icon-keys.svg" alt="">
      <h3 id="3">
        <span class="">Maximize your impact</span>
      </h3>
      <p>Create an amazing future that you love in any field from transportation to commerce and health care to government. Expand your opportunities. Exceed your expectations. Excel!!</p>
    </div>
  </div>
  <div class="">
    <div class="">
      <img src="https://www.udacity.com/assets/iridium/images/shared/features/thumb-impact-fg.jpg" alt="">
    </div>
  </div>
</section>
</div>
