.main{
	margin: 1rem auto;
	display: flex;
    flex-direction: row-reverse;
	justify-content: space-around;
	max-width: 1300px;
}

#contain{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.panel-title {
	max-width: 16rem;
}

.panel-default {
	min-width: max-content;
	margin: 0px 3.5rem 2rem;
}

.btn-success {
	background-color: rgba(40, 167, 69, 0.82);;
    border-color: #28a745;
	margin-top: 10px;
}

.btnHome{
	margin-bottom: 1rem;
}

.btnHome a {
	text-decoration: none;

}

.btnReset{
	background-color:rgba(16, 183, 230, 0.56);
	color: white;
}

 .top-btns{
	margin-right: 3rem;
 }

