<p>
  <a routerLink="">Home</a>
</p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Card to Featured Card's list</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Card Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Card Image Url:</label>
        <br>
        <input #newBgImgUrl>
      </div>

      <div>
        <label>Pill Text:</label>
        <br>
        <input #newPillTxt>
      </div>

      <div>
        <label>H4 Text:</label>
        <br>
        <input #newH4text>
      </div>

      <div>
        <label>Div ID:</label>
        <br>
        <input #newDivId>
      </div>

      <button (click)="submitForm(newTitle.value, newBgImgUrl.value, newPillTxt.value, newH4text.value, newDivId.value); newTitle.value=''; newBgImgUrl.value=''; newPillTxt.value=''; newH4text.value=''; newDivId.value=''">Add</button>

    </div>
  </div>
</div>

<div>
  <app-nano-degree-lists></app-nano-degree-lists>
</div>
