<p>
  <a routerLink="">Home</a>
</p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Form to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Link Section:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Link URL:</label>
        <br>
        <input #newLink>
      </div>

      <button (click)="submitForm(newFProgram.value, newOudacity.value, newResources.value); newPrograms.value=''; newCompany.value=''; newBusiness.value=''; newSupport.value=''; ">Add</button>

    </div>
  </div>
</div>

<div>
  <app-forms></app-forms>
</div>

<div class="">
  <app-form-detail></app-form-detail>
</div>
