/* div {
    display: block;
} */

div.card {
    height: 7.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    float: left;
    display: block;
    margin-right: 1.69491525%;
    width: 100%;
    padding: 0 1.5rem;
}

.card:last-child {
    margin-bottom: 0;
}

a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects /* 2 */;
}
a.card.card--homepage {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius: .375rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.card--image {
    height: 7.5rem;
    width: auto;
    float: left;
    margin-right: .75rem;
}

.card__content {
    padding: 24px 20px;
    width: 100%;
}
