<p>
  featured-cards works!
</p>

<div class="container">
  <div class="card">
    <a class="card card--homepage" taget="_self" href="/course/flying-car-nanodegree">
      <img src="" alt="">
      <div class="card__content">
        <h6 class="blue">Only at Udacity</h6>
        <p class="card__content--h5 slate strong">Become a Flying Car Engineer</p>
        <p class="x-small mb-0">Enroll Today!</p>
      </div>
    </a>
  </div>

  <div class="card">

  </div>

  <div class="card">

  </div>
</div>
