/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */


html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100% /* 2 */;
}

body, html {
    width: 100%;
    min-height: 100%;
}

body, p {
    color: #525c65;
    line-height: 1.5rem;
}

body {
    font-size: 16px;
    font-family: Open Sans,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}
