
<section>
  <h1 class="homepage-title">Imagine Your Future With Udacity's Online Programs</h1>
</section>
<section class="hero--homepage">
  <div class="contain">
    <app-degree-promo></app-degree-promo>
  </div>
</section>
<section>
  <app-strategic-partner>

  </app-strategic-partner>
</section>
<hr class="ng-star-inserted">
<section class="ng-star-inserted">
 <app-student-quotes></app-student-quotes>
</section>
<section class="ng-star-inserted">
  <div class="contain contain--none">
    <app-nano-degree-list></app-nano-degree-list>
    <app-see-all-offerings></app-see-all-offerings>
  </div>
</section>

<section>
  <app-marketing-seperator></app-marketing-seperator>
</section>


<section>
  <app-udacity-advantage-section></app-udacity-advantage-section>
</section>

<section>
  <app-full-catalog-offerings-card></app-full-catalog-offerings-card>
</section>

<section>
  <app-contact-section></app-contact-section>
</section>
