h1.homepage-title {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

h1 {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.hero--homepage {
    margin-top: 0;
}

.hero--homepage > .contain {
    padding: 0;
}

/* .contain {
    max-width: 73.75rem;
    margin-left: auto;
    margin-right: auto;

    height: 30rem;
} */


/* @media screen and (min-width: 30rem){
h1 {
  font-size: 2rem;
}}

@media screen and (min-width: 62rem){
.hero--homepage > .contain {
    height: 30rem;
}}

@media screen and (min-width: 48rem){
.hero--homepage > .contain {
    height: 30rem;
}} */
