h1.homepage-title {
  color: #fff;
      font-size: 2rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-weight: 300;
  padding-top: 20px;
}

/* .contain {
  padding-top: -200px;
} */



/* .hero--homepage {
    margin-top: 0;
} */

/* .hero--homepage > .contain {
    padding: 0;
} */

/* .contain {
    max-width: 73.75rem;
    margin-left: auto;
    margin-right: auto;

    height: 30rem;
} */


/* @media screen and (min-width: 30rem){
h1 {
  font-size: 2rem;
}}

@media screen and (min-width: 62rem){
.hero--homepage > .contain {
    height: 30rem;
}}

@media screen and (min-width: 48rem){
.hero--homepage > .contain {
    height: 30rem;
}} */
