<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <a>
      <img src="https://www.udacity.com/assets/iridium/images/shared/flags/icon-flag-us.svg" alt="">
      <label>United States</label>
    </a>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#"> <img src="https://www.udacity.com/assets/iridium/images/shared/flags/icon-flag-br.svg" alt=""> <label>Brazil</label> </a>
    <a class="dropdown-item" href="#"> <img src="https://www.udacity.com/assets/iridium/images/shared/flags/icon-flag-cn.svg" alt=""> <label>China</label> </a>
    <a class="dropdown-item" href="#"> <img src="https://www.udacity.com/assets/iridium/images/shared/flags/icon-flag-eu.svg" alt=""> <label>Europe</label> </a>
    <a class="dropdown-item" href="#"> <img src="https://www.udacity.com/assets/iridium/images/shared/flags/icon-flag-de.svg" alt=""> <label>Germany</label> </a>
    <a class="dropdown-item" href="#"> <img src="https://www.udacity.com/assets/iridium/images/shared/flags/icon-flag-in.svg" alt=""> <label>India</label> </a>
  </div>
</div>
