.contain {
  max-width: 1400px;
  padding-top: 25px;
}

.advantage-text {
  text-align: center!important;
  color: #02b3e4!important;
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
      margin-top: 0;
}
